/* -- Real PP2 Javascript Rock, Paper, Scissors, Lizard, Spock Project */
/*Basics*/
html {
    min-height:100%;
    position:relative;
}
body{
    font-family: 'Bungee Spice', serif;
    margin:0;
    background-color:aqua;
}

/*Header, heading, rules & external links*/
 header{
    text-align:center;
    height:1rem;
 }

 .heading {
    font-size:2rem;
 }

.rules{
    position:absolute;
    width:100%;
    left:0;
    bottom:0;
    box-sizing:border-box;
    min-height:30px;
    padding-top:25px;
    text-align:center;
    color:red;
    background-color:aquamarine;
    font-size:small;
 }

 /*Game area, control section and welcome section*/

.game-area {
    width:75%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
    text-align: center;
}

.control {
    display: inline-block;
    margin:2px;
    width:80px;
    height:40px;
}

#welcome {
font-size:medium;
color:black;
}

/*Pop up messages that aid the user's understanding. Applied overflow:scroll for responsivity*/
#messages {
    height:10rem;
    border: #445361;
    margin: auto;
    font-size:5vh;
    overflow:scroll;
}

/*container for the player section*/
.player {
    background-color: lightblue;
    float:left;
    width:30vw;
    font-size:8vw;
    font-size:8vh;
    overflow:scroll;
}
/*player image*/
#player-image {
    width:15vw;
    height:25vh;
    margin-bottom:40%;
}
/*container for the computer 'System' player*/
.computer {
    background-color: lightblue;
    float:right;
    width:30vw;
    font-size:8vw;
    font-size:8vh;
    overflow:scroll;
}
/*computer/'System's' image*/
#computer-image {
    width:15vw;
    height:25vh;
    margin-bottom:40%;
}

/*this is contained below the player/computer score sections in hTML-to be reviewed*/
.score-area {
    margin: 5px auto;
    width: 90%;
    font-size: 1.2rem;
}

/*Pick your poison title*/
.Title {
    background-color: lightblue;
    overflow:scroll;
    font-size:1rem;
}
/*Scores*/
.scores {
    display: inline-block;
    padding: 25px;
    color:black;
}

/* --------- Heading and logo */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 10vh;
    padding-right: 5%;
}

/* --------- Buttons-controls and reset button */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Bungee Spice", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 1s;
}

/* --- new pseudo-element - to insert content after an element. This will be used to insert the content of our
'data choice' attribute, which will inform the labels of our buttons ---*/

.btn--big::after {
    content:attr(data-choice);
    font-size: 1rem;
    color:#445361;
    position:relative;
    left:-0.5em;
}
/*Rock button*/
.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}
/*Paper button*/
.btn--orange {
    border-color: orange;
    color: orange;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}
/*Scissors button*/
.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}
/*Lizard button*/
.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

/*Spock button*/

.btn--gray {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

/*Reset button-used flex to ensure responsive to difference devices*/

.btn--reset {
    margin-top: 25px;
    background-color: red;
    border: 1px transparent;
    border-radius: 20px;
    opacity:50%;
}

.btn--reset:active,
.btn--reset:hover {
    background-color: greenyellow;
}

#reset_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#reset_text
{
font-size: 2rem;
overflow:hidden;
}


/* --------- Media queries-only two listed here 481px (ipads and tablets) versus 320px (small mobile or smaller), most features of website designed to be responsive in original code */
/* ---------Now let’s see some common breakpoints for widths of devices:

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV --------*/

@media (max-width: 481px) {

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .btn--gray {
        margin-top: 0;
    }


    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .btn--big {
        margin: 10px 10px;
    }

}

