/*Font url*/
@import url('https://fonts.googleapis.com/css2?family=0tomanopee+0ne&display=swap');

/* -- Real PP2 Javascript Rock, Paper, Scissors, Lizard, Spock Project */
/*Main view set-up*/
html {
    min-height:100%;
    position:relative;
}
body{
    font-family: '0tomanopee One', sans-serif;
    margin:0;
    background-color:aqua;
    background-image: url(/assets/images/colorful_lizard.jpeg);
}

/*Header and footer*/
 header{
    text-align:center;
    height:50px;
 }
 footer{
    position:absolute;
    width:100%;
    left:0;
    bottom:0;
    box-sizing:border-box;
    min-height:30px;
    padding-top:25px;
    text-align:center;
    color:red;
    background-color:aliceblue;
 }

 /*Game area-using relative values-responsive without using media queries*/

.game-area {
    width:75%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
    text-align: center;
}
.control{
    display: inline-block;
    margin:2px;
    width:80px;
    height:40px;
}

#messages {
    height:20px;
}

.player {
    background-color: lightblue;
    float:left;
    width:50%;
}

#player-image {
    width:15vw;
    padding: auto;
}

.computer {
    background-color: lightblue;
    float:right;
    width:50%;
}

#computer-image {
    width:15vw;
    padding:auto;
}

.score-area {
    margin: 5px auto;
    width: 80%;
    font-size: 1.2rem;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
    color: purple;
}

.Title {
    background-color: whitesmoke;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}


.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 10vh;
    padding-right: 5px;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after {
    content:attr(data-type);
    font-size: 1rem;
    color:#445361;
    position:relative;
    left:-0.5em;
}
/*Rock button*/
.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}
/*Paper button*/
.btn--orange {
    border-color: orange;
    color: orange;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}
/*Scissors button*/
.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}
/*Lizard button*/
.btn--green {
    border-color: green;
    color: green;
}
/*Spock button*/
.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--gray {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }

}